<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>M+ Lowest Key Level Checker</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <style>
    .padding-bottom {
      padding-bottom: 5px;
    }

    .margin-y {
      margin-bottom: 3rem;
      margin-top: 3rem;
    }

    .full-width {
      width: 100%;
    }

    .common-body {
      border-color: #5b5b5b;
      color: #e1ded5;
      background-color: #202128;
    }

    .code {
      border-radius: 5px;
      border: 1px solid #5b5b5b;
      overflow-x: scroll;
    }
  </style>
  <script>
    function copyMacroToClipboard(button) {
      let e = document.getElementById('macro-code');
      const el = document.createElement('textarea');
      el.value = e.textContent;
      el.setAttribute('readonly', '');
      el.style.position = 'absolute';
      el.style.left = '-9999px';
      document.body.appendChild(el);
      el.select();
      document.execCommand('copy');
      document.body.removeChild(el);
      let message = document.createElement("p");
      message.classList.add("full-width");
      message.style.textAlign = "center";
      message.textContent = "Successful!";
      button.parentElement.appendChild(message);
      setTimeout(() => {
        button.parentElement.removeChild(message);
      }, 2000);
    }
  </script>
</head>
<body class="common-body">
<div class="w3-col l4">&nbsp;</div>
<div class="w3-col s12 m12 l4">
  Put this in a macro - it will give you a list of all party members' names and realms that you have to copy paste
  below.
  <div class="code">
    <code>
      <pre id="macro-code">/run print(format("%s-%s", UnitFullName("player")))
/run for i=1,GetNumGroupMembers()-1 do local u="party"..i print(format("%s-%s",UnitFullName(u))) end
</pre>
    </code>
    <button type="button" class="w3-button w3-border full-width"
            onclick="copyMacroToClipboard(this)">Copy to Clipboard
    </button>
  </div>
  {% if error_message %}
    <p>{{ error_message }}</p>
  {% endif %}
  {% if realm_lowest_keys %}
    <div class="margin-y w3-border">
    <p style="text-align:center">Showing the lowest key on each realm for: {{ dungeon_name }}</p>
      <table class="w3-table">
        <thead>
        <th>Player</th>
        <th>Lowest Key</th>
        <th>Time</th>
        </thead>
        <tbody>
        {% for l in realm_lowest_keys %}
          <tr>
            <td>{{ l.0 }}</td>
            <td>{{ l.1 }}</td>
            <td>{{ l.2 }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
  <form method="post" action="{% url 'leaderboard_viewer:index' %}">
    {% csrf_token %}
    <div class="padding-bottom">
      <label>Dungeon<br>
        <select class="w3-select w3-border common-body full-width" name="dungeon">
          <option>Atal'dazar</option>
          <option>Freehold</option>
          <option>Tol Dagor</option>
          <option>The MOTHERLODE!!</option>
          <option>Waycrest Manor</option>
          <option>Kings' Rest</option>
          <option>Temple of Sethraliss</option>
          <option>The Underrot</option>
          <option>Shrine of the Storm</option>
          <option>Siege of Boralus</option>
        </select>
      </label>
    </div>
    <div>
      <label>Player Names:<br>
        <textarea class="w3-input w3-border common-body full-width" style="margin-right:15px" rows="15"
                  name="wow_input">{{ previous_player_input }}</textarea>
      </label>
    </div>
    <br>
    <button class="w3-button w3-border full-width">Find lowest key</button>
  </form>
</div>
<div class="w3-col l4">&nbsp;</div>
</body>
</html>
