<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>M+ Lowest Key Level Checker</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <style>
    .pb-3 {
      padding-bottom: 3px;
    }

    .full-width {
      width: 100%;
    }

    .common-body {
      border-color: #5b5b5b;
      color: #e1ded5;
      background-color: #202128;
    }

    .code {
      border-radius: 5px;
      border: 1px solid #5b5b5b;
    }
  </style>
</head>
<body class="common-body">
<div class="w3-col l4">&nbsp;</div>
<div class="w3-col s12 m12 l4">
  Put this in a macro - it will give you a list of all party members' names and realms that you have to copy paste
  below.
  <div class="code">

    <code>
      <pre>/run for i=1,GetNumGroupMembers()-1 do local u="party"..i print(format("%s-%s", GetUnitName(u),GetRealmName(u))) end</pre>
    </code>
  </div>
  <div>
    {{ realm_lowest_keys }}
  </div>
  <form method="post" action="{% url 'leaderboard_viewer:index' %}">
    {% csrf_token %}
    <div class="pb-3">
      <label>Dungeon<br>
        <select class="w3-select w3-border common-body full-width" name="dungeon">
          <option>Atal'dazar</option>
          <option>Freehold</option>
          <option>Tol Dagor</option>
          <option>The MOTHERLODE!!</option>
          <option>Waycrest Manor</option>
          <option>Kings' Rest</option>
          <option>Temple of Sethraliss</option>
          <option>The Underrot</option>
          <option>Shrine of the Storm</option>
          <option>Siege of Boralus</option>
        </select>
      </label>
    </div>
    <div>
      <label>Player Names:<br>
        <textarea class="w3-input w3-border common-body full-width" style="margin-right:15px" rows="15"
                  name="wow_input">{{ previous_player_input }}</textarea>
      </label>
    </div>
    <br>
    <button class="w3-button w3-border full-width">Find lowest key</button>
  </form>
</div>
<div class="w3-col l4">&nbsp;</div>
</body>
</html>